body {

    background: #0b0f1a;
    
    color: white;
    
    font-family: Arial;
    
    margin: 0;
  
  }
  
  header {
    
    display: flex;
    
    justify-content: space-between;
  
    padding: 20px;
    
    background: rgba(255,255,255,0.05);
    
    backdrop-filter: blur(10px);
    
  }
  
  nav a {
    
    color: white;
  
    margin: 10px;
    
    text-decoration: none;
    
  }
  
  .hero {
    
    display: flex;
    
    align-items: center;
  
    justify-content: space-between;
  
    padding: 80px;
  
  }
  
    .hero-left h1 {
  
    font-size: 50px;
  
  }
  
    .stats {
    
    display: flex;
    
    gap: 20px;
    
    margin-top: 20px;
    
  }
  
    .stats div {
    
    background: rgba(255,255,255,0.05);
  
    padding: 20px;
  
    border-radius: 10px;
  
  }
  
    .btn {
    
    background: #00d4ff;
    
    color: black;
    
    padding: 12px 25px;
    
    border-radius: 10px;
    
    border: none;
    
    margin-top: 20px;
    
    cursor: pointer;
    
  }
